# /
/log.txt
/config.txt
/optimizemysqltables.txt

# /_cava/
/_cava/cava20.cpkgproj
/_cava/cavapackager.exe.lnk
/_cava/episodescanner
/_cava/episodescanner.rar

# /_cava/project/
/_cava/project/build.log
/_cava/project/buildlogdb.data
/_cava/project/scan.data
/_cava/project/scan.log
/_cava/project/scanlogdb.data

# /_cava/project/diag/
/_cava/project/diag/buildsummary.dat
/_cava/project/diag/diagnostic.exe

/_cava/project/cache/*
/_cava/cava20-logs/
/_cava/cava20-temp/
/_cava/cava20/

# /tmp/
/tmp/*
